@import url("https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap");

@media screen and (min-width: 1120px) {
}

* {
  font-family: "Bona Nova", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Bona Nova", serif;
  background-color: black;
  color: gray;
  font-size: 15px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* CARD */

.container {
  display: grid;
  margin-inline: 1.5rem;
  padding-block: 5rem;
}
.card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 348px));
  justify-content: center;
  gap: 2rem;
}
.card_article {
  position: relative;
  background-color: black;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 3rem 1.5rem 1.5rem;
  display: grid;
  row-gap: 1rem;
  overflow: hidden;
  transition: background-color 0.6s;
}
.img {
  width: 200px;
  justify-self: center;
  filter: drop-shadow(0 8px 24px hsla(170, 12%, 8%, 0.1));
  transition: transform 0.4s;
}

.card_data {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: transform 0.4s, opacity 0.4s;
}

.card_title {
  font-size: 15px;
  font-weight: 400;
}

.card_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1.3);
  z-index: -1;
  transition: transform 0.4s;
}

.card_button {
  background-color: #fff;
  padding: 0.75rem 1rem;
  color: black;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  justify-self: center;
  box-shadow: 0 8px 24px hsla(170, 12%, 8%, 0.1);
  position: absolute;
  bottom: -1.5rem;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.4s, opacity 0.4s;
  border: 1px solid black;
  border-radius: 5px;
}

.card_button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
}

.card_button:hover {
  transform: translateX(0.5rem);
}

/* CARD ANIMATION */

.card_article:hover .img {
  transform: translateY(-1.5rem);
}

.card_article:hover .card_data {
  transform: translateY(-4.5rem);
  opacity: 0;
}

.card_article:hover {
  background-color: transparent;
}

.card_article:hover .card_bg {
  transform: scale(1);
}

.card_article:hover .card_button {
  transform: translateY(-3.75rem);
  opacity: 1;
  pointer-events: initial;
}

/* BreakPoints */

@media screen and (max-width: 300px) {
  .container {
    margin-inline: 1rem;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}


@media screen and (min-width:1120px){

    .container {
           height: 100vh;
           display: grid;
           align-items: center;
      }

      .img{
        width:220px    ;
      }
    
}